html, body {
    margin: 0; /* loại bỏ margin mặc định */
    background-color: white; /* màu mặc định ngoài wrapper */
    width: 100%;
    height: 100%;
}

.wrapper {
    margin-top: 1%;              /* đẩy toàn bộ khối xuống */
    background-color: #A0A8A4;   /* màu nền chính */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;             /* khoảng cách giữa div và form */
}

form {
    background-color: white;
    border-radius: 30px;
    height: 70%;
    width: 30%;

    margin-top: 5%;
    margin-bottom: 5%;

    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

#inline {
    display: flex;
    flex-direction: row;
    gap: 20px
}

#inline > div {
    flex: 1;                    /* mỗi input chia đều */
}

#inline input {
    width: 95%;
}

#email, #phonenumber, #usname, #usmessage {
    display: flex;
    flex-direction: column;
}

#Message {
    height: 30vh;
}

form input {
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;

    border: 1px solid black;   /* viền đen nhạt */
    outline: none;            /* bỏ outline mặc định khi focus */
}

#send_message {
    background-color: #D9D9D9;
    height: 3vh;
    width: 20vh;
    border-radius: 10px;
    padding: 2px    
}

#send_message:hover {
    background-color: #a9a9a9;  
    color: white;               
    transform: scale(1.05);     
}

form button {
    align-self: center;
}



form p {
    font-size: 20px;
}
