footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    height: fit-content;
    background-color: wheat;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.footer-section {
    display: flex;
    flex-direction: row;
    margin-right: 15px;

    width: 100%;

    justify-content: space-between;

}

#under {
    align-self: center;
}

.avata {
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;     /* căn giữa theo chiều dọc */
    width: 30%;            
    height: 100%;           
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;     
    overflow: hidden;
    border: 3px solid #333;
    background-color: white;
    object-fit: cover; 
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* ảnh tự co để lấp đầy */
}

hr {
    border: none;             /* bỏ viền mặc định */
    border-top: 2px solid #333; /* kẻ 1 đường ngang màu đen */
    margin-top: 20px;           /* khoảng cách trên dưới */
    margin-bottom: 0;
    width: 100%;               /* độ dài */
}

.footer-section ul li {
    padding: 5px 0;
    list-style: none;

    margin-right: 20px;
}

.social-icons {
    display: flex;      
    gap: 10px;          
    margin-top: 10px;

    margin-left: 38px;
}

.social-icons img {
    width: 24px;   
    height: 24px;
    object-fit: contain; /* giữ nguyên tỉ lệ icon */
}

.span {
    display: none;
    margin-right: 0;
}

.footer-list {
    display: block;
}

.footer-toggle {
    margin-bottom: 5px;
    margin-left: 38px;
}

.footer-list {
    margin-top: 5px;
    margin-left: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: blue;
}


@media (max-width: 600px) {

    .span {
        display: inline; /* hiển thị mũi tên */
    }

    .container {
        flex-direction: column;
    }

    .avata {
        display: none; /* ẩn avatar trên mobile */
    }

    .footer-section ul {
        display: none;
    }

    .footer-section{
        flex-direction: column;
    }

    .footer-section h2 {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }

    .footer-section .social-icons {
        margin-left: 10px;
    }
}


